:root {
    --Color1: #3e454e;
    --Color2: #3e454e;
    --Color3: #ffffff1f;
    --Color4: #FF4C29;
    --Color5: #ff4d297a;
}

body {
    background-image: url("../images/bg.jfif");
    background-repeat: repeat;
    background-color: var(--Color1);
}



* {
    font-family: 'Lalezar';
}

.center  {
    text-align:center !important;
}

.top-text {
    font-size: 4em;
}

.big-box  {
    padding: 4%;
    margin:auto;
    background-color: var(--Color2);
    border-radius: 40px;
    vertical-align: middle;
    width: 30%;
    box-shadow: 0px 5px 22px 5px rgba(0,0,0,0.2);

}
.form-title {
    font-size: 2em;
}

* {
    color:white;
}

i {
    margin:10px;
}